<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>ПИВТОРГ №1</h5>
                <p>Программа лояльности для настоящих ценителей пива</p>
            </div>
            
            <div class="col-md-4 mb-3">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone me-2"></i>+7 (903) 973-98-89</li>
                    <li><i class="fas fa-envelope me-2"></i>info@pivtorg1.ru</li>
                </ul>
            </div>
            
            <div class="col-md-4 mb-3">
                <h5>Мы в соцсетях</h5>
                <h5>TELEGRAM</h5>
                <h5>https://t.me/pivtorg_1_JK</h5>
                <div class="social-links">
                    <a href="#" class="text-light me-3"><i class="fab fa-vk"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-telegram"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-3">
            <small>&copy; 2025 ПИВТОРГ №1. Все права защищены.</small>
        </div>
    </div>
</footer>
