<nav class="navbar navbar-expand-lg navbar-dark navbar-pivtorg shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" 
                 alt="Pivtorg1" 
                 width="40"
                 class="me-2">
            ПИВТОРГ №1
        </a>
        
        <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                {% if session.user_id %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}">
                        <i class="fas fa-user me-1"></i>Профиль
                    </a>
                </li>
                {% if session.is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_dashboard') }}">
                        <i class="fas fa-cog me-1"></i>Админка
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">
                        <i class="fas fa-sign-out-alt me-1"></i>Выйти
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">
                        <i class="fas fa-sign-in-alt me-1"></i>Вход
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
